<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>El ahorcado - Menu</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/menu.css">
</head>
<body>
  <main>
    <h1 class="titulo">El Ahorcado</h1>

    <div class="menu_opciones">
      <form action="juego.html">
        <label>Nombre de usuario</label>
        <input type="text" name="nombre_usuario" id="nombre_usuario">
        <label>Tema de la palabra</label>
        <select name="tema_palabra" id="tema_palabra">
          <option value="estudios">Estudios</option>
          <option value="estudios">Estudios</option>
          <option value="estudios">Estudios</option>
        </select>

      </form>
    </div>
    


  </main>
  
  <script src="script.js"></script>
</body>
</html>