<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>El ahorcado</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <main>
    <h1 class="titulo">El Ahorcado</h1>

    <p>Selecciona una letra, te quedan <span class="intentos">7</span> intentos</p>

    <p class="palabra_oculta" id="palabra_oculta"></p>

    <img src="../assets/ahorcado/ahorcado_1.png" id="img_dibujo" class="img_dibujo">
    
    <div class="div_letras">
      <input type="button" value="A" class="letra">
      <input type="button" value="B" class="letra">
      <input type="button" value="C" class="letra">
      <input type="button" value="D" class="letra">
      <input type="button" value="E" class="letra">
      <input type="button" value="F" class="letra">
      <input type="button" value="G" class="letra">
      <input type="button" value="H" class="letra">
      <input type="button" value="I" class="letra">
      <input type="button" value="J" class="letra">
      <input type="button" value="K" class="letra">
      <input type="button" value="L" class="letra">
      <input type="button" value="M" class="letra">
      <input type="button" value="N" class="letra">
      <input type="button" value="Ñ" class="letra">
      <input type="button" value="O" class="letra">
      <input type="button" value="P" class="letra">
      <input type="button" value="Q" class="letra">
      <input type="button" value="R" class="letra">
      <input type="button" value="S" class="letra">
      <input type="button" value="T" class="letra">
      <input type="button" value="U" class="letra">
      <input type="button" value="V" class="letra">
      <input type="button" value="W" class="letra">
      <input type="button" value="X" class="letra">
      <input type="button" value="Y" class="letra">
      <input type="button" value="Z" class="letra">
    </div>

    <p class="texto_errores">Has cometido <span class="errores" id="errores">0</span> errores.</p>
    
    <div class="crono" id="crono">00:00:00</div>

    <div class="cuenta_atras" id="cuenta_atras">00:00:00</div>
  </main>


  <script src="../script.js"></script>
</body>
</html>