<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>El ahorcado</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/pre-juego.css">
</head>
<body>
  <main>
    <a href="../index.html" class="a_button_general">
      <input type="button" value="Menú" class="button_general button_header">
    </a>

    <h1 class="titulo">El Ahorcado</h1>

    <form action="juego.html" id="pre-juego" class="form-pre-juego">
      <label for="pre-juego-select">Tema de palabra</label>
      <select name="pre-juego-select" id="pre-juego-select">
        <option value="Informatica">Informática</option>
        <option value="Frutas">Frutas</option>
        <option value="Ciudades">Ciudades</option>
      </select>
      <input type="submit" value="Jugar" name="form-jugar">

    </form>
    


    
  </main>

  <script src="../js/funcionesGenerales.js"></script>
</body>
</html>