/* Header */
header {
  background-color: #333;
  padding: 10px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.nav-paginas {
  display: flex;
  gap: 10px;
  align-items: center;
}

a {
  color: #f0f0f0;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo > a > p {
  color: #f0f0f0;
  font-size: 25px;
}

