.formulario-ciudad {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.formulario-ciudad > input, .formulario-ciudad > textarea {
  margin-bottom: 10px;
  border-radius: 8px;
}

.formulario-ciudad > label {
  margin-bottom: 5px;
}

.texto-error {
  margin: 5px 0;
  color: #f0f0f0;
  background-color: #d90101;
  padding: 10px;
  border-radius: 8px;
}

.ocultar {
  display: none;
}