/* Paleta de colores:
background-color: #212121
background-color-alt: #303030
font-color: #fff
action-color: #ffd700
*/


/* General */
* {
  padding: 0px;
  list-style-type: none;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', "Arial";
}

/* Main */
body {
  background-color: #212121;
  color: #fff;
}

p, span {
  font-size: 17px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

span {
  color: #ffd700;
}

.button_general {
  background-color: #fff;
  width: 150px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
}

.button_general:hover {
  cursor: pointer;
  opacity: 0.7;
}

.a_button_general {
  width: 100%;
}

.button_header {
  width: 80px;
}